{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/swiper.css' %}">
    <script type='text/javascript' src='{% static "base/js/jquery.js" %}'></script>
    <script type='text/javascript' src='{% static "base/js/bootstrap.js" %}'></script>
    <script type='text/javascript' src='{% static "base/js/swiper.jquery.js" %}'></script>
    <script type="text/javascript" src="{% static 'base/js/base.js' %}"></script>
    {% block personResource %}

    {% endblock %}

    <title>
        {{ title }}
    </title>

</head>
<body>
{% block body %}

{% endblock %}

</body>
</html>