{% extends 'axf/base/base.html' %}
{% load staticfiles %}

{% block personResource %}

    <link rel="stylesheet" href="{% static 'user/css/register.css' %}">
    <script type="text/javascript" src = '{% static "user/js/register.js" %}'></script>
    <script type="text/javascript" src="{% static 'base/js/md5.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="'user_register">
{# onsubmit="return check()"在form表单中加入函数，预校验，可以避免抓包获取  #}
        <form onsubmit="return check()" action="{% url 'axf:doregister' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <span>用户名:</span><br>
            <input id = 'register_username' type="text" name='username' placeholder="用户名"><span id="username_check"></span>
            <br>
            <span>密码:</span><br>
            <input id="register_password" type="text" name='password' placeholder="密码">
            <br>
            <span>确认密码:</span><br>
            <input id="register_password_confirm" type="text" placeholder="确认密码"><span id="password_check"></span>
            <br>
            <span>邮箱:</span><br>
            <input type="text" name='email' placeholder="邮箱">
            <br>
            <span>电话:</span><br>
            <input type="text" name='phone' placeholder="电话">
            <br>
            <span>头像:</span><br>
            <input type="file" name='icon' placeholder="头像">
            <br>
            <input type="submit" value="注册">
        </form>
    </div>
{% endblock %}